<!DOCTYPE html>
<html lang="en" ng-app = "app">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     </head>

    <body ng-app = "app">
        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.js"> </script>
        <script type="text/javascript" src="../../../static/js/principal.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


        <!--CSS-->
        <link href="../../../static/css/bootstrap.css" rel="stylesheet">
        <link href="../../../static/css/style.css" rel="stylesheet" media="screen">
        <link href="../../../static/css/agency.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
        <!--Sin uso por el momento   -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll">Alvaro Gómez - Podólogo</a>
                    <img class ="imgMenu" src="../../static/polls/images/pieIcon.png">
                </div>
            
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        
                        <li>
                            <a class="page-scroll" href="#TuPodologo">Formacion Complementaria</a>
                        </li>
                       
                    </ul>
                </div>
                
            </div>
            
        </nav>
    
        
     <br><br><br><br><br>
        <div class="container">
            <div class="row text-center">
                <div class="divTable" style="border: 3px solid #000;" >
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div id="headerTablaFormacion" class="divTableCell"><H3>NOMBRE DEL CURSO</H3></div>
                            <div id="headerTablaFormacion" class="divTableCell"><H3>DURACIÓN</H3></div>
                            <div id="headerTablaFormacion" class="divTableCell"><H3>FECHA</H3></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">Curso 1</div>
                            <div class="divTableCell">6 meses</div>
                            <div class="divTableCell">Abril 2012</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                    </div>
                </div>   
            <div>             
        </div>
         

       
    </body>
 </html>