{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />

{% endblock %}






{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div id="content-main">

    {% if app_list %}
        {% for app in app_list %}
            {% if app.name == "Polls" %}
            <!--Codigo para separar los apartados del ADMIN: GESTION-->
                <div class="app-{{ app.app_label }} module">
                    <table>
                        <caption class = "section_header">
                            <a href="{{ app.app_url }}" class="section" title="Opciones de Gestion de Clientes y Citas">GESTION</a>
                        </caption>
                        {% for model in app.models %}
                            {% if model.name == "Citas" or model.name == "Clientes" or model.name == "Mensajes"%}
                                <tr class="model-{{ model.object_name|lower }}">
                                    {% if model.admin_url %}
                                        <th scope="row"><a class="modelNames" href="{{ model.admin_url }}">{{ model.name }}</a></th>
                                    {% else %}
                                        <th scope="row">{{ model.name }}</th>
                                    {% endif %}

                                    {% if model.add_url %}
                                        <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                                    {% else %}
                                        <td>&nbsp;</td>
                                    {% endif %}

                                    {% if model.admin_url %}
                                        <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                                    {% else %}
                                        <td>&nbsp;</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>    
                </div>
                <!--Codigo para separar los apartados del ADMIN: BLOG-->
                <div class="app-{{ app.app_label }} module">
                    <table>
                        <caption class = "section_header">
                            <a href="{{ app.app_url }}" class="section" title="Opciones Blog">BLOG</a>
                        </caption>
                        {% for model in app.models %}
                            {% if model.name == "Categorias" or model.name == "Posts" %}
                                <tr class="model-{{ model.object_name|lower }}">
                                    {% if model.admin_url %}
                                        <th scope="row"><a class="modelNames" href="{{ model.admin_url }}">{{ model.name }}</a></th>
                                    {% else %}
                                        <th scope="row">{{ model.name }}</th>
                                    {% endif %}

                                    {% if model.add_url %}
                                        <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                                    {% else %}
                                        <td>&nbsp;</td>
                                    {% endif %}

                                    {% if model.admin_url %}
                                        <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                                    {% else %}
                                        <td>&nbsp;</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>    
                </div>
            {% else %}
                <!--Codigo para separar los apartados del ADMIN: SUPERUSERS-->
                <div class="app-{{ app.app_label }} module">
                <table>
                <caption class = "section_header">
                        <a href="{{ app.app_url }}" class="section" title="Generado Automatico">SuperUsers</a>
                </caption>
                {% for model in app.models %}
                    {% if model.name == "Users"%}
                        <tr class="model-{{ model.object_name|lower }}">
                    {% if model.admin_url %}
                        <th scope="row"><a class="modelNames" href="{{ model.admin_url }}">Usuarios</a></th>
                    {% else %}
                        <th scope="row">{{ model.name }}</th>
                    {% endif %}

                    {% if model.add_url %}
                        <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}

                    {% if model.admin_url %}
                        <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}
                    </tr>
                    {% endif %}
                    
                {% endfor %}
                </table>
                </div>
                {% endif %}
            
        {% endfor %}
    {% else %}
        <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}
    </div>
{% endblock %}





{% block sidebar %}
{%if user.get_username == "fdd"%}
<iframe src="https://calendar.google.com/calendar/embed?src=felixdurandom%40gmail.com&ctz=Africa/Ceuta" style="border: 0" width="850" height="600" frameborder="0" scrolling="no"></iframe>
{%endif%}
{%if user.get_username == "alvaroG"%}
<iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%2333ccff&amp;src=alvaro.delpino21%40gmail.com&amp;color=%2329527A&amp;ctz=Europe%2FMadrid" width="800" height="600" frameborder="0" scrolling="no"></iframe>
{%endif%}
{% endblock %}

